---
title: lines
---
<main class="background">
  <hr class="dash dash--1">
  <hr class="dash dash--2 dash--short dash--long">
  <hr class="dash dash--4 dash--short">
  <hr class="dash dash--8">
  <hr class="dash dash--8 dash--long">
  <hr class="dash dash--4">
  <hr class="dash dash--2-down">
  <hr class="dash dash--1 dash--fast">
  <hr class="dash dash--2 dash--short">
  <hr class="dash dash--4 dash--short dash--long">
  <hr class="dash dash--8">
  <hr class="dash dash--4-down">
  <hr class="dash dash--1">
  <hr class="dash dash--2 dash--short dash--long">
  <hr class="dash dash--4 dash--short">
  <hr class="dash dash--8 dash--long">
  <hr class="dash dash--8">
  <hr class="dash dash--4">
  <hr class="dash dash--2-down dash--fast">
  <hr class="dash dash--1">
  <hr class="dash dash--2 dash--short">
  <hr class="dash dash--4 dash--short dash--long">
  <hr class="dash dash--8">
  <hr class="dash dash--8 dash--long">
  <hr class="dash dash--4-down">
  <hr class="dash dash--2">
  <hr class="dash dash--1">
  <hr class="dash dash--2 dash--short dash--long">
  <hr class="dash dash--4 dash--short">
  <hr class="dash dash--8">
  <hr class="dash dash--4">
  <hr class="dash dash--2-down">
  <hr class="dash dash--1 dash--fast">
  <hr class="dash dash--2 dash--short">
  <hr class="dash dash--4 dash--short dash--long">
  <hr class="dash dash--8 dash--long">
  <hr class="dash dash--8">
  <hr class="dash dash--4-down">
  <hr class="dash dash--1">
  <hr class="dash dash--2 dash--short dash--long">
  <hr class="dash dash--4 dash--short">
  <hr class="dash dash--8">
  <hr class="dash dash--8 dash--long">
  <hr class="dash dash--4">
  <hr class="dash dash--2-down dash--fast">
  <hr class="dash dash--1">
  <hr class="dash dash--2 dash--short">
  <hr class="dash dash--4 dash--short dash--long">
  <hr class="dash dash--8 dash--long">
  <hr class="dash dash--8">
  <hr class="dash dash--4-down">
  <hr class="dash dash--2">
  <hr class="dash dash--1">
</main>
