---
title: Environment Variables
---

<main class="talk">
  <h1>Environment Variables</h1>
  <p>This is an incomplete list of references from a talk delivered at RubyConf AU in February 2019.</p>
  <hr class="dash dash--8">
  <section>
    <h2>Reading</h2>
    <ul>
      <li><a href="https://ipcc.ch/sr15/">IPCC Special Report on 1.5°</a></li>
      <li><a href="https://www.electricitymap.org">Electricity Map</a> - a map of carbon emissions from electricity by country</li>
      <li><a href="http://worrydream.com/ClimateChange/">What can a technologist do about climate change?</a></li>
      <li><a href="https://increment.com/energy-environment/">Increment's issue on the environment</a></li>
      <li><a href="https://www.climateaction.tech">Climateaction.tech</a> - a coalition of tech workers</li>
      <li><a href="https://medium.com/@climateActTech/a-guide-for-employees-how-to-make-your-tech-company-sustainable-b0c93522620c">A Guide for Employees - how to make your tech company sustainable</a></li>
      <li><a href="https://www.gesi.org">GeSI</a></li>
      <li><a href="https://www.iea.org/digital/">IEA</a> - digitalisation of the energy industry</li>
      <li><a href="https://www.bsr.org/en/collaboration/groups/future-of-internet-power">Future of Internet Power</a></li>
      <li><a href="http://www.clickclean.org/">Click Clean</a> has ratings of IT companies by environment policies</li>
      <li><a href="https://increment.com/energy-environment/stripes-carbon-neutral-journey/">Stripe on their carbon neutral journey</a></li>
      <li><a href="https://medium.com/electricitymap">Tomorrow</a> is a neat company that does a few cool things in this field</li>
      <li><a href="https://storage.googleapis.com/gweb-sustainability.appspot.com/pdf/24x7-carbon-free-energy-data-centers.pdf">Moving toward 24x7 Carbon-Free Energy at Google Data Centers: Progress and Insights</a> - an assessment of energy consumed by some of Google's data centres</li>
    </ul>
  </section>
  <hr class="dash dash--4">
  <section>
    <h2>Environment policies of different companies</h2>
    <ul>
      <li><a href="https://stripe.com/environment">Stripe</a></li>
      <li><a href="https://sustainability.google">Google</a></li>
      <li><a href="https://aws.amazon.com/fr/about-aws/sustainability/sustainability-timeline/">AWS</a></li>
      <li><a href="https://www.paypalobjects.com/digitalassets/c/website/marketing/global/about/responsible-practices/PYPLGlobalImpactReport2017.pdf">Paypal</a></li>
      <li><a href="https://www.salesforce.com/company/sustainability/clean-cloud/">Salesforce</a></li>
    </ul>
  </section>
  <hr class="dash dash--4-down">
</main>
